@model List<Empleado>

@{
    ViewData["Title"] = "Index";
}

<h1>COMPIS VISTA</h1>

@if(Context.User.IsInRole("PRESIDENTE")||Context.User.IsInRole("DIRECTOR")){
    <form method="post">
        <label>Incremento salarial:</label>
        <input type="text" name="incremento" class="form-control" />

        <button class="btn btn-warning"> Subir salarios</button>
    </form>
}

<table class="table table-dark">
    <thead>
        <tr>
            <th>
                EMPNO
            </th>
            <th>
                APELLIDO
            </th>
            <th>
                OFICIO
            </th>
            <th>
                SALARIO
            </th>
            <th>
                @Context.User.FindFirst("Departamento")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEmpleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Oficio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDept)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { empno = item.IdEmpleado }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>


